In [1]:
import pandas as pd
import numpy as np

In [14]:
icd_df = pd.read_excel('data/orig/ICD.xlsx')
icd_df = icd_df.drop(columns=["SHORT DESCRIPTION (VALID ICD-10 FY2024)", "NF EXCL"], axis=0)
icd_df.rename(columns={'LONG DESCRIPTION (VALID ICD-10 FY2024)': 'DESCRIPTION'}, inplace=True)
icd_df = icd_df.replace(',', ';', regex=True)
icd_df.to_csv("data/ICD.csv", index=False)
print(len(icd_df))
icd_df.head()

73201

    CODE                                        DESCRIPTION
0   A000  Cholera due to Vibrio cholerae 01; biovar chol...
1   A001    Cholera due to Vibrio cholerae 01; biovar eltor
2   A009                               Cholera; unspecified
3  A0100                         Typhoid fever; unspecified
4  A0101                                 Typhoid meningitis

In [20]:
med_df = pd.read_csv('data/orig/d_meds.csv')
med_df.rename(columns={'drug': 'DRUG', 'ndc':'NDC'}, inplace=True)
med_df['NDC'] = med_df['NDC'].astype(int)
med_df = med_df[med_df['NDC'] != 0]
med_df['NDC'] = med_df['NDC'].astype(str)
med_df = med_df.replace(',', ';', regex=True)
med_df.to_csv("data/NDC.csv", index=False)
print(len(med_df))
med_df.head()

12984

                DRUG          NDC
0      Acetaminophen    904198861
2         Furosemide  51079007320
3        Raltegravir      6022761
4            Heparin  63323026201
5  Albuterol Inhaler    173068224

In [21]:
med_df = med_df.drop_duplicates(subset='DRUG', keep='first')
med_df = med_df.reset_index()
med_df = med_df.drop(columns=['index'])
med_df.to_csv("data/NDC_unique.csv", index=False)
print(len(med_df))
med_df.head()

5697

                DRUG          NDC
0      Acetaminophen    904198861
1         Furosemide  51079007320
2        Raltegravir      6022761
3            Heparin  63323026201
4  Albuterol Inhaler    173068224

In [27]:
cpt_df = pd.read_excel('data/orig/CPT.xlsx')
cpt_df = cpt_df.dropna()
cpt_df = cpt_df.reset_index()
cpt_df = cpt_df.drop(columns=['index'])
cpt_df.rename(columns={'Unnamed: 0': 'CODE', 'Unnamed: 1': 'DESCRIPTION'}, inplace=True)
cpt_df = cpt_df.replace(',', ';', regex=True)
cpt_df.to_csv("data/CPT.csv", index=False)
print(len(cpt_df))
cpt_df.head(5)

1214

    CODE                   DESCRIPTION
0  86152          Cell enumeration &id
1  86153  Cell enumeration phys interp
2  86890      Autologous blood process
3  86891   Autologous blood op salvage
4  86927           Plasma fresh frozen